

<div class="container mt-30">
        <h1>Social sharing</h1>

    <div class="row">
<div class="col-sm-6">
        <img src="../../assets/images/ab-02.jpg" alt="" class="img-fluid">
        <p class="text-success">Social sharing testing</p>
</div>

<div class="col-sm-6">
        <img src="../../assets/images/ab-01.jpg" alt="" class="img-fluid">
</div>
</div>
</div>
<div class="container mt-30">
        <div class="row">
<div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
<div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
<div class="col-sm-3" style="background-color:lavender;">.col-sm-3</div>
<div class="col-sm-3" style="background-color:lavenderblush;">.col-sm-3</div>

    </div>
</div>