<div class="container mt-30">
        <h2>Table</h2>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Venkat</td>
              <td>Raman</td>
              <td>Venkat@domain.com</td>
            </tr>
            <tr>
                    <td>Venkat</td>
                    <td>Raman</td>
                    <td>Venkat@domain.com</td>
            </tr>
            <tr>
                    <td>Venkat</td>
                    <td>Raman</td>
                    <td>Venkat@domain.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      