{% block html_head_container %}
  
  {% include '../partials/html-header.twig' %}
  
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}
<body>

{% block page %}{% endblock %}

  <footer>
    {% include '../partials/footer.twig' %}
    {% block footer %}{% endblock %}
  </footer>
</body>
</html>
