{% block html_head_container %}
  
  {% include '../partials/html-header.twig' %}
  
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}
<body>
  <header class="header" id="header" role="banner" aria-label="Site header">
    <div class="layout-container">
      {% include "../partials/examples/navbar.twig" %}
      {% block header %}{% endblock %}
    </div>
  </header>

  <main class="main" id="main" role="main" aria-label="Site main content">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer" id="footer" role="contentinfo" aria-label="Site footer">
    {% include '../partials/footer.twig' %}
    {% block footer %}{% endblock %}
  </footer>

</body>
</html>
