/* ==========================================================================
   Button
   ========================================================================== */
/**/

button, .button {
  display: inline-block;
	border: none;
	text-decoration: none;
  background-color: $accent;
  color: $accent-contrast;
	padding: 15px 45px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	@include transition(.25s, all, ease-in-out);
  cursor: pointer;
  &:hover {
    background-color: darken($accent, 5%);
    color: $accent-contrast;
  }
  &.outline {
    background: $white;
    border: 1px solid $accent;
    color: $accent;
    &:hover {
      border-color: darken($accent, 5%);
      color: darken($accent, 5%);
    }
  }
}