/* ==========================================================================
   Link.scss settings
   ========================================================================== */
/**/

a {
  text-decoration: none;
  color: $accent;
  @include transition(.25s, color, ease-in-out);
  &:hover {
    color: darken($accent, .5);
  }
}