<h3>Simple menu</h3>
<ul class="menu">
  <li class="menu__item">
    <a href="" class="menu__link is-active">Home</a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">Articles</a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">Blogs</a>
  </li>
  <li class="menu__item">
    <a href="" class="menu__link">Contact</a>
  </li>
</ul>