{# index.twig #}
{% extends "src/layout/layout.twig" %}
{% set pageName = 'Homepage' %}

{% block page %}
<img class="not-loaded" src="https://cdn-images-1.medium.com/max/2000/1*lpWLZ75HSCAYYQvx0wxYDQ.png" alt="This is the alt text" title="Title of the image"/>
  <header>
    <h1>Web Generator, Gulp and Twig.js</h1>
  </header>
  <section>
    {% include "src/partials/social.twig" %}
  </section>
  <aside>

    {#first block#}
    {% embed "src/partials/block.twig" %}
      {% set block_name = "test first--block" %}
      {% set block_id = "blockid" %}
      {% set block_label = "This is a test block" %}
      {% block content %}
        <p>This is the content of the block</p>
      {% endblock %}
    {% endembed %}

    {#second block#}
    {% embed "src/partials/block.twig" %}
      {% set block_name = "test second--block" %}
      {% set block_id = "blockidtwo" %}
      {% set block_label = "This is a second test block" %}
      {% block content %}
        <p>This is the <a href="#">content</a> of the second block</p>
      {% endblock %}
    {% endembed %}

  </aside>
  <section>
    {% include "src/partials/social.twig" %}
  </section>
  <section>
    {% include "src/partials/button.twig" %}
  </section>
{% endblock %}