{# index.twig #}
{% extends "src/layout/layout.twig" %}
{% set pageName = 'Homepage' %}

{% block page %}
<img class="loaded" src="https://cdn-images-1.medium.com/max/2000/1*lpWLZ75HSCAYYQvx0wxYDQ.png" alt="This is the alt text" title="Title of the image"/>
  <header>
    <h1>Web Generator, Gulp and Twig.js</h1>
  </header>
  <hr>
  <section>
  <h2 class="title">Grid and block demo</h2>
    <div class="grid">
      {#first block#}
      <div class="grid__item grid--2">
        {% embed "src/partials/block.twig" %}
          {% set block_name = "first--block" %}
          {% set block_id = "blockid" %}
          {% set block_label = "This is a test block" %}
          {% block content %}
            <p>This is the content of the block</p>
          {% endblock %}
        {% endembed %}
      </div>
      {#second block#}
      <div class="grid__item grid--4">
        {% embed "src/partials/block.twig" %}
          {% set block_name = "second--block" %}
          {% set block_id = "blockidtwo" %}
          {% set block_label = "This is a second test block" %}
          {% block content %}
            <p>This is the <a href="#">content</a> of the second block</p>
          {% endblock %}
        {% endembed %}
      </div>
      {# third block #}
      <div class="grid__item grid--6">
        {% embed "src/partials/block.twig" %}
          {% set block_name = "third--block" %}
          {% set block_id = "blockidthree" %}
          {% set block_label = "This is a third test block" %}
          {% block content %}
            <p>This is the <a href="#">content</a> of the second block</p>
          {% endblock %}
        {% endembed %}
      </div>
    </div>
  </section>
  <section>
    {% include "src/partials/button.twig" %}
  </section>
{% endblock %}