/**
*********************
* Variables
********************
**/

// Font settings
$sans: "Arial", "Helvetica", "Verdana", sans-serif;
$serif: "Georgia", "Times New Roman", serif;
// $icomoon: icomoon
$title-font: $sans;
$text-font: $serif;
$heading: $sans;
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 800;

